* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

body, html {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    display: grid;
    place-items: center;
    gap: 1rem;

    h1 {
        font-size: 2rem;
    }


    
}
